
/* changs the color of the hero background */
.hero-color {
    background-color: rgb(167, 144, 184);
    
}

.login-container{
    display: grid;
    grid-template-rows:  repeat(8, 1fr);
    grid-template-columns: repeat(5 , 1fr);
    background-image: url('/images/loginBack.jpg')
}

/* centers the login in page*/
.center-login {
    
    grid-row: 3 /span 2;
    grid-column: 3 / span 1;
 }

 .btn-color {
     background-color: rgb(167, 144, 184);
 }

 .btn-color:hover {
     background-color: rgb(145, 42, 218);
     color: white;
 }

 .content-container {
    display: grid;
    grid-template-rows:  repeat(8, 1fr);
    grid-template-columns: repeat(5 , 1fr);
    background-color: #eee;

 }

 .new-user {
     grid-column: 5 /span 1 ;
     grid-row: 1 / span 1 ;
     margin-top: 10px;
 }

 .bar-login {
     grid-column: 5 / span 1;
     color: red;
 }

 /* styling for the user display page*/

 .user-welcome {
     grid-column: 1 /span 5;
 }

 .userInfo {
     grid-column: 1/ span 2;
     grid-row: 2 / span 3;
     display: grid;
     grid-template-columns: repeat(2 ,1fr);
     grid-template-rows: repeat(2 , 1fr);
 }

.info-1 {
     grid-row: 1 /span 1;
     grid-column: 1/ span 1;
 }

 .info-2 {
     grid-row: 1/ span 1;
     grid-column: 2/ span 1;
 }

 .info-3 {
    grid-row: 2/ span 1;
     grid-column: 1 / span 1; 
 }

 .info-4 {
    grid-row: 2/ span 1;
    grid-column: 2/ span 1;
 }

 .update-link {
     grid-column: 1/ span 2;
     grid-row: 5 / span 1;
     justify-self: center;
 }
 
 .bartender-info {
   grid-column: 3 / span 2;
   grid-row: 2 / span 5;
   overflow: scroll;
 }

 /* formatting for the edit user page*/

 .edit-form {
     grid-row: 1 / span 4;
     grid-column: 2 / span 2;
     margin-top: 10px;
     
 }

 .delete-form {
     grid-row: 5 / span 1;
     grid-column: 2 / span 1;
 }

 .btn-delete {
     background-color: rgb(230, 77, 108);
 }

 .btn-delete:hover {
     background-color: rgb(231, 12, 56);
 }


 /* This is the styling for selectBartender page*/

.sb-title {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}

.heading-sub {
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
}

.bg-header {
    background-color: rgb(167, 144, 184);
}

.bg-content {
    background-color: #eee;
}

.comment-form {
    grid-column: 1/ span 1;
    grid-row: 4/ span 2;

    background-color: #eee;
    
}

.comments {
    grid-column: 1/ span 1;
    grid-row: 2 / span 2; 
    width:  270px;
    height: 210px;
    overflow: scroll;
}

.event-form {
    grid-column: 3/ span 1;
    grid-row: 2 / span 4; 
}

.event-list {
    grid-column: 4/ span 2;
    grid-row: 2 / span 4; 
    
}

.event-header {
    text-align: center;
    text-decoration: underline;
    font-weight: 900;
}

.event-item {
    text-align: center;
}
