<h1>This is the new user sign up</h1>

<form method="POST" action="/user">
<input type="text" name="userName" id="userName">
<input type="password" name="passWord" id="passWord">
<input type="text" name="firstName" id="firstName">
<input type="text" name="lastName" id="lastName">
<input type="text" name="dateOfBirth" id="dateOfBirth">
<input type="submit" value="SUBMIT">
</form>


