<div class="content-container">

    <form class="edit-form" method="POST" action="/user">
        <div class="field">
            <label class="label">User Name</label>
            <div class="control">
                <input class="input" type="text" name="userName" id="userName">
            </div>
        </div>

        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input" type="password" name="passWord" id="passWord">
            </div>
        </div>
        <div class="field">
            <label class="label">First Name</label>
            <div class="control">
                <input class="input" type="text" name="firstName" id="firstName">
            </div>
        </div>

        <div class="field">
            <label class="label">Last Name</label>
            <div class="control">
                <input class="input" type="text" name="lastName" id="lastName">
            </div>
        </div>

        <div class="field">
            <label class="label">Date of Birth</label>
            <div class="control">
                <input class="input" type="text" name="dateOfBirth">
            </div>
        </div>

        <div class="field">
            <div class="control">
                <input class="button btn-color" type="submit" value="SUBMIT">
            </div>

        </div>

    </form>

</div>
