<div class="login-container">
    <a href="/bartender/login" class="bar-login">Bartender Login</a>
    <div class=" center-login">

        <form method="POST" action="/login" class="">
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input class="input" type="text" name="userName" id="userName" placeholder="Enter username...">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="password" name="passWord" id="passWord" placeholder="Password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <input class="button btn-color" type="submit" value="Login">
                </p>
            </div>
        </form>

        <form class="new-user" action="/user/new" method="GET">
            <input class="button is-primary" type="submit" value="Sign Up!">
        </form>
    </div>

</div>