<form action="">
<input type="text" name="userName" id="userName" placeholder="Enter username...">
<input type="password" name="passWord" id="passWord" placeholder="Password">
<input type="submit" value="SUBMIT">
</form>