<div class="login-container">
    <div class="tile is-ancestor columns container is-vcentered center-login">
        <div class="tile is-parent column is-half is-offset-one-quarter">
            <form method="POST" action="/login" class="column is-half is-offset-one-quarter bg-login">
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        <input class="input" type="text" name="userName" id="userName" placeholder="Enter username...">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="password" name="passWord" id="passWord" placeholder="Password">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <input class="button btn-color" type="submit" value="Login">
                    </p>
                </div>
            </form>
        </div>

    </div>
</div>