<form method="POST" action="/bartender">
<input type="text" name="userName" id="userName">
<input type="password" name="passWord" id="passWord">
<input type="text" name="firstName" id="firstName">
<input type="text" name="lastName" id="lastName">
<input type="submit" value="SUBMIT">
</form>
